body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto','Arial', sans-serif;
    background-color: hsl(0, 0%, 0%);
}

.ticker {
    width: 100%;
    color: #ffffff;
    font-size: 62px;
    padding: 0px;
}

.ticker-separator {
    color: #ffffff;
    font-size: 62px;
    padding: 0px;
    font-style: normal;
}

.ticker-bday {
    color: #d48888;
    font-size: 62px;
    padding: 0px;
    font-weight: bold;
}
.ticker-anniversary {
    color: #e0b36f;
    font-size: 62px;
    padding: 0px;
    font-weight: bold;
}

.ticker-flower {
    color: #d488ae;
    font-size: 62px;
    padding: 0px;
    font-weight: bold;
}

.ticker-announcement {
    color: #d4a688;
    font-size: 62px;
    padding: 0px;
    font-weight: bold;
}

.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: inline-block;
}

.marquee span {
    display: inline-block;
    padding-left: 20%;
}